
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Fredoka&family=Kdam+Thmor+Pro&display=swap');

html {
    height: 100%;
}
body {
    background-color: #00635d;
    height: 100%;
    padding: 0 20px;
    
}

.container {
    width: 100%;
    height: 70vh;
    max-width: 1000px;
    background-color: #08a4bd;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    margin: 100px auto;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.titulo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 30px;
}
.operacao {
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}
.compra, .venda, .calcular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    color: #FFFFFF;
}
.compra, .venda, .calcular:hover{
    cursor: pointer;
}

.compra {
    background-color: #446df6;
}
.venda{
    background-color: #4c212a;
}
.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 30px;
    width: auto;
    height: 65%;
}

.informacoes input{
    width: 80%;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.informacoes > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.informacoes .calcular {
    margin-top: 20px;
    background-color: brown;
}
.selecionado {
    filter: brightness(0.5);
}